<strong>Recuperacao de senha</strong>

<p>Uma solicitacao de recuperacao de senha foi enviada para o email({{email}}). Se vc n for o autor dessa requiscao, troque sua senha para sua seguranca</p>

<p>Para continuar com a recuperacao de senha, utilize o token {{token}} ou clique no link abaixo</p>

<a href="{{link}}">Criar nova senha</a>
